<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
        <!-- nach port maybe /hibernate ...-->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/dbsp</property>

        <property name="hibernate.current_session_context_class">thread</property>

        <property name="connection_pool_size">1</property>

        <property name="hbm2ddl.auto">update</property> 
        <!-- update statt create, weil sonst alle bisherigen elemente aus table gelöscht werden-->

        <property name="show_sql">true</property>


        <mapping class="com.dbsp.entity.Actor"/>
        <mapping class="com.dbsp.entity.Artist"/>
        <mapping class="com.dbsp.entity.Author"/>
        <mapping class="com.dbsp.entity.Bookspec"/>
        <mapping class="com.dbsp.entity.Categories"/>
        <mapping class="com.dbsp.entity.Creator"/>
        <mapping class="com.dbsp.entity.Customer"/>
        <mapping class="com.dbsp.entity.CustomerBuyItem"/>
        <mapping class="com.dbsp.entity.Director"/>
        <mapping class="com.dbsp.entity.Dvdspec"/>
        <mapping class="com.dbsp.entity.Item"/>
        <mapping class="com.dbsp.entity.ItemCategories"/>
        <mapping class="com.dbsp.entity.ItemCategoryId"/>
        <mapping class="com.dbsp.entity.Labels"/>
        <mapping class="com.dbsp.entity.Lists"/>
        <mapping class="com.dbsp.entity.Musicspec"/>
        <mapping class="com.dbsp.entity.Price"/>
        <mapping class="com.dbsp.entity.ProductReviews"/>
        <mapping class="com.dbsp.entity.Publishers"/>
        <mapping class="com.dbsp.entity.Shops"/>
        <mapping class="com.dbsp.entity.SimProducts"/>
        <mapping class="com.dbsp.entity.Studios"/>
        <mapping class="com.dbsp.entity.Tracks"/>

    </session-factory>
</hibernate-configuration>